<h2>Oregon Travel in Social Media</h2>

{{!-- widget.js форматирует твиты на странице и предоставляет им функциональность --}}
<script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>

{{{tweets}}}